/* ==========================================================================
  Base Typography Styles
  ========================================================================== */
$main_heading: 16px;
$secondary_heading: 25px;


.color{
    color: red;
}
/* ==========================================================================
   Headings and paragraph
   ========================================================================== */
:where(h1,h2,h3,h4,h5,h6){
    font-style: normal;
    @extend .color;
}

h1, .h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
}

h2,.h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}