
/* ==========================================================================
  COMMON VARIABLES
  ========================================================================== */

// Color variable map
$colors: (
  // non-nested values
  background: #F9FBFC,
  border: #ededed,
  failure: #eb7267,
  error: #E3000B,
  success: #9cee00,
  white: #fff,
  black: #000,
  disabled: #EBEBEB,
  grey : #d8d8d8,
  theme_border: #8dcfed,
  text : #171A1D,
  heading: #F5F1F5,
  badge: #c93b17,
  // nested map inception
  primary: (
   base: #EE7600,
   light: #fad5b2,
   lighter: #fad5b2,
  ),
  secondary: (
    base: #30ADE5,
  ),
);



// TYPOGRAPHY
//   ==========================================================================
$htmlFontSize: 16px;
$baseFontSize: 16px;
$testColor: red !default;
$baseFontFamily: "aktiv-grotesk",sans-serif;
$font-awesome: 'FontAwesome';
$baseLineHeight: 1.5;
$baseTextColor: color(text);
